html, body, #root-popup, .wrap, .wrap .content-wrap {min-width: 460px!important; min-height: 510px!important;}
html, body, #root-popup {overflow: hidden;}
button:disabled{cursor: default;}
.content-wrap .hash-holder .address{text-overflow: ellipsis; overflow: hidden;}
.content-wrap .hash-holder.no-error{margin-top: 0px;}
.footer.cols-2:hover{background: #fff;}
.footer.cols-2 button{width: 48%;}
.content-wrap .list-holder li.link i:hover{cursor: pointer;}
.remittance .footer button{width: 48%;}
.tab-holder ul.no-pointer li{cursor: default !important;}
.remittance.complete .scroll{width:100%;}
.remittance .mainnet{top: 32px; width: 90px;}
.remittance .layer{top: 37px;}
.remittance .layer li{cursor: pointer;}
.content-wrap .scroll{height: calc(100vh - 120px);}
.footer{height: 50px !important;}
