@charset "utf-8";

.content-wrap .wrap-holder .coin-holder .c,
.content-wrap .main-holder .a-group .c span em:first-child,
.help-layer .txt,
.content-wrap .wrap-holder .coin-holder .c em,
/*.content-wrap .layer.sub li,*/
/*.content-wrap .layer-wallet li,*/
.content-wrap .layer.default li,
.wrap.home .content-wrap .content-holder li .box p:nth-child(3){font-weight: 100;}

.popup-wrap .popup .header h2,
.popup-wrap .tabbox-holder .message,
.lock-wrap.new .content-holder .txt,
.popup-wrap.convert p:not(.txt_box),
.popup-wrap .popup .layout .step .tab-holder h1,
.tabbox-holder .wallet-group.floor li .icx em,
.table-holder.common td:nth-child(2) em,
.content-wrap .wrap-holder.dex .dex-holder .group label,
.content-wrap .wrap-holder.dex p,
.content-wrap .wrap-holder.exchange .name-holder.connect .label em,
.table-holder.common td:nth-child(2n+3),
.drop-layer li .c,
.popup-wrap.ledger p:not(.txt_box),
.header-wrap .menu-holder,
.content-wrap .main-holder .a-group .b .unit,
.popup-wrap .popup .scroll .info .dot,
.content-wrap .wrap-holder.exchange .input-group,
.wrap.home .content-wrap .content-holder .txt,
.popup-wrap h2,
.content-wrap .layer-wallet,
.notice-wrap .wrap-holder .txt,
.content-wrap .main-holder .a-group .b p,
.content-wrap .main-holder .layer.left,
.popup-wrap .popup .layout .step .info .dot,
.wrap.home .content-wrap.lock .content-holder .guide-holder .forget,
.wrap.home .content-wrap.lock .content-holder .pw-group .error{font-weight: 300;}

[class ^="rbox-type"] + label,
.popup-wrap.convert .txt_box,
.content-wrap .wrap-holder .table-typeC.coin thead .c span,
.controller span em,
.content-wrap .wrap-holder.exchange .input-group p,
.popup-wrap.ledger p span,
.content-wrap .layer-wallet li span,
.content-wrap .wrap-holder .table-typeC thead .c em,
.content-wrap .wrap-holder .table-typeC.coin thead .c span.m_usd em,
.header-wrap .language-holder span{font-weight: 400;}

.content-wrap .wallet-group.floor li label,
.table-holder.common td:nth-child(1),
.content-wrap .wrap-holder .deposit-hoder span,
.content-wrap .wrap-holder .table-typeC thead .a {font-weight: 500;}

.popup-wrap .popup.address.wallet h1 span,
.popup-wrap .terms .tabbox-holder h2{font-weight: 600;}

.popup-wrap .token input:read-only,
.popup-wrap .tabbox-holder .key-group .key,
.popup-wrap .typeA .tabbox-holder .key-group .key,
.popup-wrap.convert p span,
.table-typeB tbody td:nth-child(4) span,
.content-wrap .wrap-holder .deposit-hoder span,
.tabbox-holder .wallet-group.floor li .icx,
.content-wrap .dex .dex-holder .right-group h3,
.content-wrap .dex .dex-holder .right-group h3 > *,
.controller span,
.table-holder.common td:nth-child(2n+2),
.popup-wrap.ledger .fail .txt_box,
.content-wrap .wrap-holder .table-typeC thead .a p em,
.popup-wrap .terms .tabbox-holder .title,
.content-wrap .tab-holder li.on,
.content-wrap .tab-holder li:hover{font-weight: 700;}





/*/////////////////////////////////*/
.popup-wrap .token input:read-only,
.ver em,
.popup-wrap.convert p span,
.popup-wrap .tabbox-holder .key-group .key,
.popup-wrap .popup .layout .step .tab-holder h1,
.content-wrap .wrap-holder .deposit-hoder span,
.content-wrap .wrap-holder .coin-holder .money-group,
.content-wrap .wrap-holder.contract .search-holder p.have,
.content-wrap .wrap-holder.contract .search-holder p.have > *,
.content-wrap .dex .dex-holder .right-group h3,
.content-wrap .dex .dex-holder .right-group h3 > *,
.content-wrap .wrap-holder.dex p span em,
.content-wrap .wrap-holder.exchange .name-holder.connect .money-group,
.drop-layer li .tag-group em,
.drop-layer li .b,
.drop-layer li .c,
.controller .a em,
.content-wrap .wrap-holder.exchange .input-group p span,
.content-wrap .wrap-holder.exchange .input-group p,
.table-holder.common td:not(:first-child),
.content-wrap .wrap-holder.exchange .quantity-holder .controller span,
.won,
.won em,
.table-typeF tbody td:nth-child(3),
.popup-wrap .popup.address.wallet h1 span,
.table-typeB td,
.table-typeC tbody td:nth-child(2) span,
.content-wrap .wrap-holder .table-typeC thead .a p,
.popup-wrap .popup .layout .content .exchange .change-group .num,
.content-wrap .wrap-holder.exchange .quantity-holder .controller ul li,
.tabbox-holder .cnt em,
.content-wrap .wrap-holder.exchange .quantity-holder .change-group .c em,
/*.content-wrap .wrap-holder.exchange .quantity-holder .controller .a em,*/
.content-wrap .wrap-holder.exchange .quantity-holder .change-group .b,
.table-typeA tbody td:nth-child(2),
.pager-holder li .number,
.table-typeB tbody td:nth-child(4),
.table-typeB tbody td:nth-child(4) > *,
.table-typeB tbody td:nth-child(1),
.content-wrap .wrap-holder .coin-holder .d em,
.content-wrap .wrap-holder .coin-holder .c,
/*.popup-wrap .backup .tabbox-holder .key-group .key,*/
.table-typeC tbody td:nth-child(4) span,
.popup-wrap.send p em,
.content-wrap .wrap-holder .table-typeC thead .token_num,
.content-wrap .main-holder .a-group .c span em:first-child,
.content-wrap .main-holder .a-group .b span em,
.content-wrap .wrap-holder .table-typeC thead .c span,
.content-wrap .wrap-holder .table-typeC thead .c em,
.table-typeC tbody td:nth-child(3) em,
.table-typeC tbody td:nth-child(2) em,
.tabbox-holder .wallet-group li .icx > *,
.tabbox-holder .wallet-group li .icx{font-family: NanumSquare;}