@charset "utf-8";

.help-layer .txt,
.content-wrap .main-holder .a-group .c span em:first-child,
.content-wrap .wrap-holder .coin-holder .c,
.content-wrap .wrap-holder .coin-holder .c em,
.content-wrap .layer.default li,
.wrap.home .content-wrap .content-holder li .box p:nth-child(3){font-weight: 100;}

/*300*/
.table-holder.voting-stake td:nth-child(2) em, 
.content-wrap.vote .myvote li em,
.content-wrap .wrap-holder.exchange .balance-g p,
.table-typeC tbody tr.staked td .txt,
.popup-wrap.vote li em,
.popup-wrap.stake .txt_box span,
.popup-wrap.stake .box .txt,
.popup-wrap.stake .box p span *,
.popup-wrap.stake .box .bar-group h4,
.popup-wrap.stake .box .bar-group h4 *,
.claim .box p.txt,
.table-holder.voting-stake td:nth-child(2n+3),
.table-typeA.iscore tbody td:nth-child(4) em,
.popup-wrap .popup > h1 span,
.content-wrap.vote > div:nth-child(3) h4,
.content-wrap.vote .vote-holder h3,
.content-wrap.vote .vote-holder h3 span em,
.content-wrap.vote .vote-holder h1,
.table-typeG tbody td:nth-child(2),
.table-typeG tbody td:nth-child(4),
.header-wrap .menu-holder,
.drop-layer li .c,
.lock-wrap.new .content-holder .txt,
.table-holder.common td:nth-child(2) em,
.table-holder.common td:nth-child(2n+3),
.tabbox-holder .wallet-group.floor li .icx em,
.notice-wrap .wrap-holder .txt,
.popup-wrap h2,
.popup-wrap.ledger p:not(.txt_box),
.popup-wrap.contract .message-holder p,
.popup-wrap.contract p.title,
.popup-wrap .popup .header h2,
.popup-wrap .tabbox-holder .message,
.popup-wrap.convert p:not(.txt_box),
.popup-wrap .popup .layout .step .tab-holder h1,
.popup-wrap .popup .layout .step .info .dot,
.popup-wrap .popup .scroll .info .dot,
.content-wrap .wrap-holder.dex .dex-holder .group label,
.content-wrap .wrap-holder.dex .dex-holder,
.content-wrap .wrap-holder.exchange .name-holder.connect .label em,
.content-wrap .main-holder .a-group .b .unit,
.content-wrap .layer-wallet,
.content-wrap .wrap-holder.exchange .input-group,
.content-wrap .main-holder .a-group .b p,
.content-wrap .main-holder .layer.left,
.wrap.home .content-wrap .content-holder .txt,
.wrap.home .content-wrap.lock .content-holder .guide-holder .forget,
.wrap.home .content-wrap.lock .content-holder .pw-group .error{font-weight: 300;}

/*400*/
.content-wrap.vote .vote-fixed li p:not(.label) *,
.myvote.choice .table-typeG tbody td:nth-child(4),
.myvote.choice .table-typeG tbody td:nth-child(4) *,
.popup-wrap.stake .box input,
.content-wrap .wrap-holder.dex .dex-holder .group h4,
.content-wrap .dex .dex-holder > h4,
.content-wrap .wrap-holder.dex .dex-holder .from-label span,
 .content-wrap .wrap-holder .table-typeC thead .c p,
.popup-wrap.vote .table-holder .select .controller .drag-holder span,
.popup-wrap.vote .table-typeA tbody td:nth-child(2) *,
.popup-wrap.vote .table-typeA input,
.popup-wrap.stake .box .txt span,
.claim .box p.txt span,
.table-typeG.myvote tbody td:nth-child(4),
.content-wrap.vote .vote-holder h3 span,
.table-typeG tbody td:nth-child(1) sup,
.content-wrap .main-holder .a-group .b.small span em,
[class ^="rbox-type"] + label,
.header-wrap .language-holder span{font-weight: 400;}

.controller span em,
.popup-wrap.convert .txt_box,
.popup-wrap.ledger p span,
.content-wrap .wrap-holder .table-typeC.coin thead .c span,
.content-wrap .wrap-holder.exchange .input-group p,
.content-wrap .layer-wallet li span,
.content-wrap .wrap-holder .table-typeC thead .c em,
.content-wrap .wrap-holder .table-typeC.coin thead .c span.m_usd em,

/*500*/
.content-wrap.vote .title-holder span em,
table td.nodata p,
.table-holder.common td:nth-child(1),
.content-wrap .wallet-group.floor li label,
.content-wrap .wrap-holder .deposit-hoder span,
.content-wrap .wrap-holder .table-typeC thead .a {font-weight: 500;}

/*600*/
.popup-wrap .popup.address.wallet h1 span,
.popup-wrap .terms .tabbox-holder h2{font-weight: 600;}

/*700*/
.table-holder.voting-stake td:nth-child(even),
.content-wrap.vote .search-group span:not(.search) em,
.content-wrap.vote .tost p span:first-child,
.content-wrap.vote .vote-fixed li p:not(.label),
.content-wrap.vote .myvote ul span,
.p-rep,
.content-wrap .dex .dex-holder .right-group h3,
.vote .choice .select .controller .drag-holder span em,
.popup-wrap.vote .popup ul:nth-of-type(1)  li span,
.popup-wrap.vote .table-typeA tbody td:nth-child(2),
.popup-wrap.vote .table-typeA .select input,
.popup-wrap.stake .sum-holder .txt-group span,
.content-wrap.vote .vote-holder li span,
.table-typeG tbody td:nth-child(1),
.content-wrap.vote .voted div p span em,
.controller span,
.table-typeB tbody td:nth-child(4) span,
.tabbox-holder .wallet-group.floor li .icx,
.table-holder.common td:nth-child(2n+2),
.popup-wrap.ledger .fail .txt_box,
.popup-wrap .terms .tabbox-holder .title,
.popup-wrap.contract .message-holder p span,
.popup-wrap .token input:read-only,
.popup-wrap .tabbox-holder .key-group .key,
.popup-wrap .typeA .tabbox-holder .key-group .key,
.popup-wrap.convert p span,
.content-wrap .wrap-holder .table-typeC thead .c p em,
.content-wrap .tab-holder li.on,
.content-wrap .tab-holder li:hover{font-weight: 700;}




/*/////////////////////////////////*/
.content-wrap.vote .tost p span:first-child,
.content-wrap.vote .myvote.choice td:nth-child(3) ~ td:nth-child(4),
.content-wrap.vote .myvote.choice td:nth-child(4) *,
/*.content-wrap.vote div:nth-child(3) *,*/
.popup-wrap.stake .box div.txt:nth-of-type(2),
.content-wrap.vote .search-group span:not(.search) em,
.p-rep,
.controller .drag-holder ul li,
.table-typeC tbody tr.staked td:nth-child(1),
.vote .choice .select .controller .drag-holder span em,
.content-wrap.vote .vote-fixed li p:not(.label),
.content-wrap.vote .vote-fixed li p:not(.label) *,
.popup-wrap.vote li span,
.popup-wrap.vote .table-typeA tbody td:nth-child(2),
.popup-wrap.vote .table-typeA tbody td:nth-child(2) *,
.popup-wrap.vote .table-typeA tbody td:nth-child(4),
.popup-wrap.vote .table-typeA input,
.stake-history .table-typeA.iscore .going td:nth-child(1) span,
.popup-wrap.stake .box .txt span,
.popup-wrap.stake .box .txt span *,
.popup-wrap.stake .sum-holder .txt-group span,
.popup-wrap.claim .box p span,
.table-holder.voting-stake td:nth-child(1) ~ td, 
.table-typeA.iscore tbody td:nth-child(1),
.table-typeA.iscore tbody td:nth-child(4) *,
.content-wrap.vote .vote-holder h3 span,
.content-wrap.vote .vote-holder h3 span em,
.content-wrap.vote .vote-holder li,
.content-wrap.vote .vote-holder li span,
.table-typeG tbody td:nth-child(1) *,
.table-typeG tbody td:nth-child(3),
.table-typeG.myvote tbody td:nth-child(4),
.content-wrap.vote .voted div:nth-child(1) p:nth-child(2) em,
.content-wrap.vote .voted div p span,
.content-wrap.vote .voted div p span *,
.popup-wrap.send p em,
.popup-wrap .popup.address.wallet h1 span,
.popup-wrap .popup .layout .content .exchange .change-group .num,
.popup-wrap.contract .message-holder p span,
.popup-wrap .token input:read-only,
.popup-wrap.convert p span,
.popup-wrap .tabbox-holder .key-group .key,
.popup-wrap .popup .layout .step .tab-holder h1,
.content-wrap .wrap-holder .deposit-hoder span,
.content-wrap .wrap-holder .coin-holder .money-group,
.content-wrap .wrap-holder.contract .search-holder p.have,
.content-wrap .wrap-holder.contract .search-holder p.have > *,
.content-wrap .wrap-holder.dex .from-label span em,
.content-wrap .wrap-holder.exchange .name-holder.connect .money-group,
.content-wrap .wrap-holder.exchange .input-group p span,
.content-wrap .wrap-holder.exchange .input-group p,
.content-wrap .wrap-holder.exchange .quantity-holder .controller span,
.content-wrap .wrap-holder.exchange .quantity-holder .controller ul li,
.content-wrap .wrap-holder.exchange .quantity-holder .change-group .c em,
.content-wrap .wrap-holder.exchange .quantity-holder .change-group .b,
.content-wrap .wrap-holder .coin-holder .d em,
.content-wrap .wrap-holder .coin-holder .c *,
.content-wrap .wrap-holder .table-typeC thead .token_num,
.content-wrap .main-holder .a-group .c span em:first-child,
.content-wrap .main-holder .a-group .b span em,
.content-wrap .wrap-holder .table-typeC thead .c span,
.content-wrap .wrap-holder .table-typeC thead .c em,
.content-wrap .wrap-holder .table-typeC thead .c p,
.content-wrap .dex .dex-holder .right-group h3,
.content-wrap .dex .dex-holder .right-group h3 > *,
.drop-layer li .tag-group em,
.drop-layer li .b,
.drop-layer li .c,
.controller .a em,
.ver em,
.won,
.won em,
.table-holder.common td:not(:first-child),
.tabbox-holder .cnt em,
.table-typeA tbody td:nth-child(2),
.pager-holder li .number,
.table-typeB td,
.table-typeB tbody td:nth-child(4),
.table-typeB tbody td:nth-child(4) > *,
.table-typeB tbody td:nth-child(1),
.table-typeC tbody td:nth-child(4) span,
.table-typeC tbody td:nth-child(3) em,
.table-typeC tbody td:nth-child(2) em,
.table-typeC tbody td:nth-child(2) span,
.table-typeF tbody td:nth-child(3),
.tabbox-holder .wallet-group li .icx > *,
.tabbox-holder .wallet-group li .icx{font-family: NanumSquare !important;}