@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareL.eot'); /* IE9 Compat Modes */
  src: url('./font/NanumSquareL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/NanumSquareL.woff') format('woff'), /* Modern Browsers */
       url('./font/NanumSquareL.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/NanumSquareOTFLight.svg#017f9c78318bcde3d1dc4451e8eaca0a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareR.eot'); /* IE9 Compat Modes */
  src: url('./font/NanumSquareR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/NanumSquareR.woff') format('woff'), /* Modern Browsers */
       url('./font/NanumSquareR.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/NanumSquareOTFR.svg#9e23ceb0c858ca37642ba540402577eb') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareB.eot'); /* IE9 Compat Modes */
  src: url('./font/NanumSquareB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/NanumSquareB.woff') format('woff'), /* Modern Browsers */
       url('./font/NanumSquareB.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/NanumSquareOTFB.svg#a41a1fda1fdf3dafd3394867a156b1cf') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareEB.eot'); /* IE9 Compat Modes */
  src: url('./font/NanumSquareEB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/NanumSquareEB.woff') format('woff'), /* Modern Browsers */
       url('./font/NanumSquareEB.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/NanumSquareOTFExtraBold.svg#090d6763bc81b49309446d23fbd10e87') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  900;
}



/*.thin       { font-weight: 100 }
.light      { font-weight: 300 }
.regular    { font-weight: 400 }
.medium     { font-weight: 500 }
.bold       { font-weight: 700 }
.bolder     { font-weight: 900 }*/
/*@font-face {
  font-family: 'NotoSans';
  src: url('./font/NotoSansCJKkr-Light.otf') format('opentype');
  font-style:   normal;
  font-weight:  300;
}*/

/*@font-face {
  font-family: 'NotoSans';
  src: url('./font/NotoSansCJKkr-Regular.otf') format('opentype');
  font-style:   normal;
  font-weight:  400;
}*/

/*@font-face {
  font-family: 'NotoSans';
  src: url('./font/NotoSansCJKkr-Medium.otf') format('opentype');
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'NotoSans';
  src: url('./font/NotoSansCJKkr-Bold.otf') format('opentype');
  font-style:   normal;
  font-weight:  700;
}*/
/*
@font-face {
  font-family: 'NotoSans';
  src: url('./font/NotoSansCJKkr-Black.otf') format('opentype');
  font-style:   normal;
  font-weight:  900;
}

*/